<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Heart Disease Predictor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body  style="background-color:Gold;">
        <h1 style="text-align:center;">Heart Disease Predictior</h1>
        <form action="/" method="POST">
            <input  style="margin-left:45%;" type="number" name="AGE" placeholder="AGE" required="required" />   
            <input style="margin-left:45%;" type="text" name="Sex" placeholder="M or F" required="required" />
            <input style="margin-left:45%;" type="text" name="Chest_Pain" placeholder="ASY or NAP or ATA or TA" required="required" />
            <input style="margin-left:45%;" type="number" name="RestingBP" placeholder="RestingBP" required="required" />
            <input style="margin-left:45%;" type="number" name="Cholestrol" placeholder="Cholestrol" required="required" />
            <input style="margin-left:45%;" type="number" name="FastingBS" placeholder="FastingBS" required="required" />
            <input style="margin-left:45%;" type="text" name="RestingECG" placeholder="RestingECG" required="required" />
            <input style="margin-left:45%;" type="number" name="MaxHR" placeholder="MaxHR" required="required" />
            <input style="margin-left:45%;" type="text" name="ExerciseAngina" placeholder="ExerciseAngina" required="required" />
            <input style="margin-left:45%;" type="number" name="OldPeak" placeholder="OldPeak" required="required" />
            <input style="margin-left:45%;" type="text"  name="St_Slope" placeholder="St_Slope" required="required" />
           
          <button type="submit" onclick='alert("You can call Ambulance 108")' style="width: 300px; margin-left: 40%;" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
        
        {% if prediction %}
            <h1 style="text-align:center; color:Crimson; font-size: 100px; " >{{ prediction }}</h1>
        {% endif %}

    </body>
</html>